<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <% if(user) { %>

        <h2>
            Welcome
            <%= user.firstName %>
                <%= user.lastName %>
        </h2>

        <a href="/users/logout">
            <button>
                logout
            </button>
        </a>

        <a href="/articles/new">
            <button>
                add article
            </button>
        </a>
        <% } else { %>
            <a href="/articles">
                <button>
                    View articles
                </button>
            </a>

            <a href="/users/login">
                <button>
                    login
                </button>
            </a>

            <a href="/users/register">
                <button>
                    sign up
                </button>
            </a>
            <% } %>





</body>

</html>